%header
  .container
    .masthead
      %h3.text-muted Project name
      .text-right
        =link_to "Sign in"
        =link_to "Log in"
      %nav
        %ul.nav.nav-justified
          %li
            =link_to "Home", home_path
          %li
            =link_to "About", about_path
          %li
            =link_to "Contacts", contacts_path
          %li
            %a{:href => "#"} link
          %li
            %a{:href => "#"} link
          %li
            %a{:href => "#"} link